.container {
    margin-top: 33px;
}

p {
    margin: auto;
    margin-bottom: 9px;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 14px;
    font-style: italic;
    width: fit-content;
    color: rgb(154, 207, 188);
}

p:hover {
    cursor: none;
    font-size: 24px;
}

.weigth {
    color:rgb(215, 173, 196);
}
